<app-header></app-header>


<div class="card-container">
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button >LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
      
    
 
    <mat-card class="card">   
      
      
      Coworking in Bangalore.
19LOCATIONS/THRIVING COMMUNITY/Work anywhere
Work along like-minded professionals in our vibrant coworking spaces in Bangalore, with break out areas and networking events to foster collaboration and growth. Drop in and hot-desk in an open-plan workspace, or reserve your own dedicated desk in a shared office.
How can we support you in Bangalore:
bullet Icon
Day Coworking for on demand use as you need it
bullet Icon
Coworking memberships for regular access
bullet Icon
Fixed desks for 24/7 access reserved just for you


<button mat-raised button routerLink="/visa-service/user/dashboard">
    get quote
</button>
    </mat-card>
  </div>
  <div class="card-container">
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/co-work/user/payment">LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
      
    
   
    <mat-card class="card">   
      
      
      Coworking in Bangalore.
19LOCATIONS/THRIVING COMMUNITY/Work anywhere
Work along like-minded professionals in our vibrant coworking spaces in Bangalore, with break out areas and networking events to foster collaboration and growth. Drop in and hot-desk in an open-plan workspace, or reserve your own dedicated desk in a shared office.
How can we support you in Bangalore:
bullet Icon
Day Coworking for on demand use as you need it
bullet Icon
Coworking memberships for regular access
bullet Icon
Fixed desks for 24/7 access reserved just for you


<button mat-raised button routerLink="/visa-service/user/dashboard">
    get quote
</button>
    </mat-card>
  </div>
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Us -visa</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>

  

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>UK</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    
  </mat-card>

  
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Taiwan</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>
  