<div>
    <div >
    <mat-card class="example-card">
     <mat-action-list>
       <div mat-subheader> Menu</div>
       <button mat-list-item routerLink="/"><mat-icon mat-list-icon>home</mat-icon>  Home</button>
         
       <button mat-list-item routerLink="/tkb/user/user-profile"><mat-icon mat-list-icon>account_circle</mat-icon> Profile</button>
          
       <button mat-list-item routerLink="/privacy"><mat-icon mat-list-icon>privacy_tip</mat-icon>  privacy</button>
         
       <button mat-list-item routerLink="/tkb/user/terms-and-conditions"><mat-icon mat-list-icon>heat_pump</mat-icon>  terms and conditions</button>
         
     </mat-action-list>
    
    </mat-card>
    </div>
    <div>
   
    </div>
</div>